{{"<!-- SOURCE: themes/my/layouts/partials/post_meta.html //-->" | safeHTML}}
<div class="post-meta">

  <div>
    <i class="fa fa-calendar fa-fw"></i>
    <time>{{ with .Site.Params.dateFormat }}{{ $.Date.Format . }}{{ else }}{{ .Date.Format "02 Jan 2006, 15:04" }}{{ end }}</time>
  </div>

  {{ $url := .Site.BaseURL | relURL }}

  {{ if isset .Params "topics" }}
  {{ $count := len .Params.topics }}
  {{ if gt $count 0 }}
  <div>
    <i class="fa fa-folder fa-fw"></i>
    {{ range $k, $v := .Params.topics }}
      <a class="post-taxonomy-topic" href="{{ $url }}topics/{{ . | urlize }}">{{ . }}</a>
      <a class="rss" type="application/rss+xml" href="{{ $url }}topics/{{ . | urlize }}/index.xml"><span class="fa fa-rss">RSS</span></a>
      {{ if lt $k (sub $count 1) }}&nbsp;&#47;{{ end }}
    {{ end }}
  </div>
  {{ end }}
  {{ end }}

  {{ if isset .Params "tags" }}
  {{ $count := len .Params.tags }}
  {{ if gt $count 0 }}
  <div>
    <i class="fa fa-tags fa-fw"></i>
    {{ range $k, $v := .Params.tags }}
      <a class="post-taxonomy-tag" href="{{ $url }}tags/{{ . | urlize }}">{{ . }}</a>
      <a class="rss" type="application/rss+xml" href="{{ $url }}tags/{{ . | urlize }}/index.xml"><span class="fa fa-rss">RSS</span></a>
      {{ if lt $k (sub $count 1) }}&nbsp;&#47;{{ end }}
    {{ end }}
  </div>
  {{ end }}
  {{ end }}

</div>
